# Build outputs
.build/
DerivedData/

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/

# SPM
.swiftpm/
Package.resolved

# IDE
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# OS artifacts
.DS_Store
Thumbs.db
